@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

.header h1:first-child {
    margin-top: 0;
}

.navbar {
    background-color: #433a30;
}

.navbar .navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: white !important;
}

.navbar .navbar-nav .nav-link {
    color: white !important;
}

.banner {
    background-image: url(images/book_header.png);
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    height: 40vh;
    width: 1000px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 40px;
}

.title h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 120px;
    font-weight: bold;
    color: #433a30;
}

.title p {
    font-size: 30px;
}

.content {
    margin-top: 50px;
    text-align: center;
}

.content h1 {
    font-family: 'Dancing Script', sans-serif;
    font-size: 80px;
    color: #433a30;
    font-weight: 1000;
}

img {
    height: 300px;
    width: 300px;
    margin: 20px;
    border: 10px solid #433a30 !important;
    border-radius: 50%;
}

figcaption {
    font-family: 'Roboto', sans-serif !important;
    font-size: 20px !important;
    color: #433a30 !important;
}

